.ride-container {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 66%;
  width: 100%;
}

.ride-input {
  height: 34%;
  width: 100%;
  background-color: #eceff5;
}

.logout-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
}
